<html>
  <head>
    <title>Game in progress</title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  
  <body>
    <div id="go-game-container" class="go-game-container">
      <div id="go-game-status" class="go-game-status"></div>
      <div id="go-game-table-container" class="go-game-table-container"></div>
      <div id="go-game-menu" class="go-game-menu">
        <button id="go-pass-button" class="go-pass-button">PASS</button>
      </div>
    </div>
    
    <script src="/js/game.js"></script>
  </body>
</html>
