<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/main.css"/>
    </head>
    <body>
        <div class="login">
            <div class="page-title">
                This is login page
            </div>
            <div class="form-fields">
                <div class="form-field username">
                    <div class="field-label">
                            username
                    </div>
                    <div class="field-input">
                            <input id="username" type="text" placeholder="username"/>
                    </div>
                </div>
                <div class="form-field password">
                    <div class="field-label">
                            password
                    </div>
                    <div class="field-input">
                            <input id="password" type="password" placeholder="password"/>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="submit">
                    <button id="submit" type="submit">submit</button>
                </div>
                <div class="show-signup-container">
                    <a id="show-signup-button" class="show-signup-button">...or sign up</a>
                </div>
            </div>
            <div class="signup-form">
                <div id="signup-container" class="signup-container">
                    <div class="form-label">
                        User registration
                    </div>
                    <div class="form-fields-with-actions">
                        <div class="form-fields float-left">
                            <div class="form-field username">
                                <div class="field-input">
                                    <input id="signup-username" type="text" placeholder="Enter your username"/>
                                </div>
                            </div>
                            <div class="form-field password">
                                <div class="field-input">
                                    <input id="signup-password" type="password" placeholder="Enter new password"/>
                                </div>
                            </div>
                            <div class="form-field password">
                                <div class="field-input">
                                    <input id="signup-password-reenter" type="password" placeholder="Reenter new password"/>
                                </div>
                            </div>
                        </div>
                        <div class="field-actions float-left">
                            <div class="field-action">
                                <button id="signup">register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/login.js"></script>
    </body>
</html>