<html>
	<head>
		<title>Login</title>
                <link rel="stylesheet" href="/css/main.css"/>
	</head>
	<body>
            <div class="login">
                    <div class="page-title">
                        This is login page
                    </div>
                    <div class="form-fields">
                            <div class="form-field username">
                                    <div class="field-label">
                                            username
                                    </div>
                                    <div class="field-input">
                                            <input id="username" type="text" placeholder="username"/>
                                    </div>
                            </div>
                            <div class="form-field password">
                                    <div class="field-label">
                                            password
                                    </div>
                                    <div class="field-input">
                                            <input id="password" type="password" placeholder="password"/>
                                    </div>
                            </div>
                    </div>
                    <div class="submit">
                            <button id="submit" type="submit">submit</button>
                    </div>
            </div>
            <script src="/js/login.js"></script>
	</body>
</html>